# Better defaults
alias ls="ls --color"
alias ll="clear && ls -lhGS"
alias la="ls -A"
alias ls1="find . -name *"
alias cfgrep='grep -v "^[[:space:]]*($|#)"' # for config files
alias p="pgrep -l"
alias c="chromium"
alias du="du -hs"
alias df="df -hT"
alias g="gvim ."
alias dirdiff="diff -b -r -w"
alias gdb="gdb -q" # TODO: figure out find how to add this to .gdbinit
alias dmesg="dmesg --color --ctime"

# Bundler
alias bu="bundle"
alias be="bundle exec"
alias rs="bundle exec rspec --color --drb --drb-port 8989 --format progress"

# Better version of rsync for humans
alias hcp="rsync -WavP --human-readable --progress"

# VMs
alias vu="pushd ~/skroutz/yogurt-test-box/ && vagrant up && popd"
alias vh="pushd ~/skroutz/yogurt-test-box/ && vagrant halt && popd"
alias qemu="sudo qemu-system-x86_64 -enable-kvm -redir tcp:2222::22 -vga std"
alias ubuntu="qemu -m 1024 -hda Virtual/pompeii-ubuntu.img -smp cores=1,threads=2,sockets=1 -vga vmware"

# git stuff
alias gst="git status -sb"
alias gbr="git branch"
alias gf="git-find-branch" # fuzzy. thanks @avgerinos

# for skroutz
alias stg="ssh wowbagger@vms.skroutz.gr"
alias pan="ssh wowbagger@panopticon"
alias panopticon_scrooge="ssh wowbagger@panopticon.scrooge.skroutz.gr"
alias panopticon_alve="ssh wowbagger@panopticon.alve.skroutz.gr"
alias bufodb="mysql -u root -p -h bufo3.hq.skroutz.gr -P 25620 helmet -p"

# IP addresses
alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
if [[ `uname -s` == 'Darwin' ]]; then
  alias localip="ipconfig getifaddr en1"
else
  alias localip="ifconfig"
fi

# command line pastebin using sprunge
alias pastebin="curl -F 'sprunge=<-' http://sprunge.us"

# python helpers
alias activate='source $(find . -name activate)'

# valgrind helpers
alias vmem="valgrind --tool=cachegrind"
alias vthreads="valgrind --tool=helgrind --verbose"
alias vcalls="valgrind --tool=callgrind --branch-sim=yes --cacheuse=yes --verbose"
alias vleaks="valgrind --tool=memcheck --leak-check=full --show-reachable=yes --num-callers=20 --track-fds=yes"

# network
alias serve="python -m http.server 8080"

# other tools
alias mirror="wget --no-clobber --random-wait -krpE -e robots=off"
alias ssh-password='ssh -o PasswordAuthentication=yes -o PubkeyAuthentication=no'

# C formatter
alias clang-format="clang-format -style=\"{BasedOnStyle: llvm, IndentWidth: 4, AllowShortFunctionsOnASingleLine: None, KeepEmptyLinesAtTheStartOfBlocks: false}\" -i"

# bytes formatter
alias bytes="numfmt --to=iec"

# docker
alias last-container="docker ps -l -q"
alias last-image="docker image ls -q | head -1"
