# Better defaults
alias ls="ls --color"
alias ll="clear && ls -lhGS"
alias la="ls -A"
alias ls1="find . -name *"
alias p="pgrep -l"
alias du="du -hs"
alias df="df -hT"
alias g="gvim ."
alias dirdiff="diff -b -r -w"
alias gdb="gdb -q" # TODO: figure out find how to add this to .gdbinit
alias dmesg="dmesg --color --ctime"

# Bundler
alias bu="bundle"
alias rs="bundle exec rspec --color --drb --drb-port 8989 --format progress"

# Better version of rsync for humans
alias hcp="rsync -WavP --human-readable --progress"

# VMs
alias yu="pushd ~/skroutz/yogurt-test-box/ && docker-compose up -d && popd"
alias yd="pushd ~/skroutz/yogurt-test-box/ && docker-compose down && popd"
alias qemu="sudo qemu-system-x86_64 -enable-kvm -redir tcp:2222::22 -vga std"
alias ubuntu="qemu -m 1024 -hda Virtual/pompeii-ubuntu.img -smp cores=1,threads=2,sockets=1 -vga vmware"

# git stuff
alias gst="git status -sb"
alias gbr="git branch"

# for skroutz
alias stg="ssh wowbagger@vms.skroutz.gr"
alias bufodb="mysql -u root -p -h bufo3.hq.skroutz.gr -P 25620 marvin_production -p"

# python helpers
alias activate='source $(find . -name activate)'

# valgrind helpers
alias vmem="valgrind --tool=cachegrind"
alias vthreads="valgrind --tool=helgrind --verbose"
alias vcalls="valgrind --tool=callgrind --branch-sim=yes --cacheuse=yes --verbose"
alias vleaks="valgrind --tool=memcheck --leak-check=full --show-reachable=yes --num-callers=20 --track-fds=yes"

# docker, maybe dli, dlc(?)
alias last-container="docker ps -l -q"
alias last-image="docker image ls -q | head -1"
alias dka="docker kill $(docker ps -q)"
