# create and go to a directory in one cmd
mcd () {
  mkdir -p $1
  cd $1
}

# send output to stderr
err() {
  echo "[$(date +'%Y-%m-%dT%H:%M:%S%z')]: $@" >&2
}

# history helper
h () {
  history | fgrep -i $1 | tail
}

# flexible find in cwd
f () {
  find . -iname "*$1*" 2>/dev/null
}

# count all the files in a directory down to "leaves" (traverse all)
cf () {
  find $1 -name "*" -type f | wc -l
}

# restart the network
reip () {
  sudo ip link set wlan0 down
  echo "Access Granted"
  sleep 2
  sudo ip link set wlan0 up
}

# google from the command line
google () {
  local q
  q=$(echo $* | tr ' ' '+')
  chromium https://google.com/search?q=$q
}

# graphviz is weird
draw () {
  dot -Tpng $1 > output.png
}

# Simple calculator (thx @mathiasbynens)
calc() {
  local result="";
  result="$(printf "scale=10;$*\n" | bc --mathlib | tr -d '\\\n')";
  #                       └─ default (when `--mathlib` is used) is 20
  #
  if [[ "$result" == *.* ]]; then
    # improve the output for decimal numbers
    printf "$result" |
    sed -e 's/^\./0./'        `# add "0" for cases like ".5"` \
      -e 's/^-\./-0./'      `# add "0" for cases like "-.5"`\
      -e 's/0*$//;s/\.$//';  # remove trailing zeros
  else
    printf "$result";
  fi
  printf "\n";
}
