*.swp
*.cache
.mutt/cache*
.mutt/queue*
.mutt/temp*
.mutt/certificates*
.mutt/mailcap*
.weechat/guile
.weechat/ruby
.weechat/python
.weechat/lua
.weechat/perl
.weechat/script
.weechat/tcl
.weechat/xfer
.weechat/logs
.weechat/irc.conf
.weechat/weechat.log
.offlineimaprc
.msmtp-ceid.gpg
