[user]
    name  = George Papanikolaou
    email = gpapanikolaou@skroutz.gr
[github]
    user = papanikge
[color]
    ui = true
[core]
    editor  = vim --noplugin
[push]
    default = upstream
[grep]
    lineNumber = true
[alias]
    co        = checkout
    br        = branch
    zip       = archive --output latest.zip HEAD
    pullsub   = submodule foreach git pull
    news      = diff --stat HEAD@{1}..HEAD
    head      = !git log --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%C(yellow)%d' --max-count=15 --
    serve     = daemon --base-path=. --export-all --reuseaddr --informative-errors --verbose
    root      = rev-parse --show-toplevel
    yesterday = log --since '1 day ago' --oneline
    dc        = diff --cached
    dw        = diff --word-diff
    dn        = diff --name-only
    fml       = reset --hard
    edit      = !git rebase -i $(git merge-base head master)
[sendemail]
    smtpserver = ~/.dotfiles/bin/msmtpq
[help]
    autocorrect = 1
[url "git@github.skroutz.gr:"]
    insteadOf = skroutz:
[rebase]
    autosquash = true
